<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>CtripCrawlFlightInfoServlet</servlet-name>
        <servlet-class>com.sunnykong.servlet.CtripCrawlFlightInfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
      <servlet-name>CtripCrawlFlightInfoServlet</servlet-name>
      <url-pattern>ctripcrawlservlet</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>Ctripcrawlonedayservlet</servlet-name>
        <servlet-class>com.sunnykong.servlet.CtripCrawlFlightInfoOneDayServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ctripcrawlonedayservlet</servlet-name>
        <url-pattern>/ctripcrawlonedayservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ctripcrawlonehourseservlet</servlet-name>
        <servlet-class>com.sunnykong.servlet.CtripCrawlFlightInfoOneHourseServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ctripcrawlonehourseservlet</servlet-name>
        <url-pattern>/ctripcrawlonehourseservlet</url-pattern>
    </servlet-mapping>
</web-app>